h1 {
    border: black 2px solid;
    background-color: darkkhaki;
    text-align: center;
    border-radius: 4px;
    color: black;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
}

.matrix-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.matrix-element {
    border: black 2px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 2px;
    min-width: 100px;
    min-height: 30px;
}

.control-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control-panel > * {
    margin: 10px;
}